# Specify filepatterns you want git to ignore.
*.dat
param_files_kidney/
Kidney_simulations/
pyMACS/Demonstration/cri3_experiment/Kidney_simluations
pyMACS/Demonstration/cri3_experiment/Simulated ng0 files